<a href="https://colab.research.google.com/github/letsgo247/Deep-Learning-Study/blob/master/Pandas_Archive.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

#Object Creation

In [3]:
s = pd.Series([1,3,5,np.nan,6,8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [10]:
dates = pd.date_range('20130101', periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [11]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01 -0.390977  0.890996  0.160287  2.089312
2013-01-02  1.513346 -0.674490 -0.083455  0.477835
2013-01-03  0.326388 -0.701024  0.438420  0.880201
2013-01-04 -0.316623  0.212532  0.068842 -0.296281
2013-01-05 -1.140967  0.130379  0.876054 -0.590806
2013-01-06  0.380478  0.817560 -1.016222  2.154842

In [49]:
df2 = pd.DataFrame({'A': 1.,
                    'B': pd.Timestamp('20130102'),
                    'C': pd.Series(1, index=list(range(4)), dtype='float32'),
                    'D': np.array([3]*4, dtype='int32'),
                    'E': pd.Categorical(["test", "train", "test","train"]),
                    'F': 'foo'})

df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [23]:
df2.dtypes

A           float64
B    datetime64[ns]
C             int64
D             int64
E          category
F            object
7    datetime64[ns]
dtype: object

In [29]:
df2.G

5   2013-01-01
6   2013-01-02
7   2013-01-03
8   2013-01-04
Name: G, dtype: datetime64[ns]

#Viewing Data

In [33]:
df.head(2)

                   A         B         C         D
2013-01-01 -0.390977  0.890996  0.160287  2.089312
2013-01-02  1.513346 -0.674490 -0.083455  0.477835

In [32]:
df.tail(3)

                   A         B         C         D
2013-01-04 -0.316623  0.212532  0.068842 -0.296281
2013-01-05 -1.140967  0.130379  0.876054 -0.590806
2013-01-06  0.380478  0.817560 -1.016222  2.154842

In [40]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [41]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [42]:
df.to_numpy()

array([[-0.39097717,  0.89099606,  0.16028713,  2.08931246],
       [ 1.51334609, -0.67449032, -0.0834545 ,  0.47783492],
       [ 0.32638848, -0.70102372,  0.4384197 ,  0.88020066],
       [-0.31662293,  0.21253248,  0.0688415 , -0.29628059],
       [-1.14096669,  0.13037858,  0.87605409, -0.59080602],
       [ 0.38047767,  0.81756018, -1.01622196,  2.15484196]])

In [50]:
df2.to_numpy()

array([[1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo']],
      dtype=object)

In [51]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.061941  0.112659  0.073988  0.785851
std    0.902597  0.692050  0.631972  1.161302
min   -1.140967 -0.701024 -1.016222 -0.590806
25%   -0.372389 -0.473273 -0.045381 -0.102752
50%    0.004883  0.171456  0.114564  0.679018
75%    0.366955  0.666303  0.368887  1.787035
max    1.513346  0.890996  0.876054  2.154842

In [53]:
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A   -0.390977    1.513346    0.326388   -0.316623   -1.140967    0.380478
B    0.890996   -0.674490   -0.701024    0.212532    0.130379    0.817560
C    0.160287   -0.083455    0.438420    0.068842    0.876054   -1.016222
D    2.089312    0.477835    0.880201   -0.296281   -0.590806    2.154842

In [55]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2013-01-01  2.089312  0.160287  0.890996 -0.390977
2013-01-02  0.477835 -0.083455 -0.674490  1.513346
2013-01-03  0.880201  0.438420 -0.701024  0.326388
2013-01-04 -0.296281  0.068842  0.212532 -0.316623
2013-01-05 -0.590806  0.876054  0.130379 -1.140967
2013-01-06  2.154842 -1.016222  0.817560  0.380478

In [56]:
df.sort_values(by='B')

                   A         B         C         D
2013-01-03  0.326388 -0.701024  0.438420  0.880201
2013-01-02  1.513346 -0.674490 -0.083455  0.477835
2013-01-05 -1.140967  0.130379  0.876054 -0.590806
2013-01-04 -0.316623  0.212532  0.068842 -0.296281
2013-01-06  0.380478  0.817560 -1.016222  2.154842
2013-01-01 -0.390977  0.890996  0.160287  2.089312

In [74]:
df.sort_values(by='2013-01-05', axis=1)

                   A         D         B         C
2013-01-01 -0.390977  2.089312  0.890996  0.160287
2013-01-02  1.513346  0.477835 -0.674490 -0.083455
2013-01-03  0.326388  0.880201 -0.701024  0.438420
2013-01-04 -0.316623 -0.296281  0.212532  0.068842
2013-01-05 -1.140967 -0.590806  0.130379  0.876054
2013-01-06  0.380478  2.154842  0.817560 -1.016222

#Selection

In [78]:
df['A']

2013-01-01   -0.390977
2013-01-02    1.513346
2013-01-03    0.326388
2013-01-04   -0.316623
2013-01-05   -1.140967
2013-01-06    0.380478
Freq: D, Name: A, dtype: float64

In [86]:
df['2013-01-02':'20130105']

                   A         B         C         D
2013-01-02  1.513346 -0.674490 -0.083455  0.477835
2013-01-03  0.326388 -0.701024  0.438420  0.880201
2013-01-04 -0.316623  0.212532  0.068842 -0.296281
2013-01-05 -1.140967  0.130379  0.876054 -0.590806

In [91]:
df.loc[dates[0]]

A   -0.390977
B    0.890996
C    0.160287
D    2.089312
Name: 2013-01-01 00:00:00, dtype: float64

In [96]:
df.loc[:,['A','B']]

                   A         B
2013-01-01 -0.390977  0.890996
2013-01-02  1.513346 -0.674490
2013-01-03  0.326388 -0.701024
2013-01-04 -0.316623  0.212532
2013-01-05 -1.140967  0.130379
2013-01-06  0.380478  0.817560

In [98]:
df.loc['20130102':'20130104',['A','B']]

                   A         B
2013-01-02  1.513346 -0.674490
2013-01-03  0.326388 -0.701024
2013-01-04 -0.316623  0.212532

In [108]:
df.loc['20130102',['A','B']]

A    1.513346
B   -0.674490
Name: 2013-01-02 00:00:00, dtype: float64

In [109]:
df.loc[dates[0],'A']

-0.39097717460154646

In [111]:
df.at[dates[0],'A']

-0.39097717460154646

In [112]:
df.iloc[3]

A   -0.316623
B    0.212532
C    0.068842
D   -0.296281
Name: 2013-01-04 00:00:00, dtype: float64

In [114]:
df.iloc[3:5, 0:2]

                   A         B
2013-01-04 -0.316623  0.212532
2013-01-05 -1.140967  0.130379

In [115]:
df.iloc[[1,2,4], [0,2]]

                   A         C
2013-01-02  1.513346 -0.083455
2013-01-03  0.326388  0.438420
2013-01-05 -1.140967  0.876054